@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");
/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/
nav {
  font-family: "Bebas Neue", cursive;
  background-color: black;
  font-size: 1.2em; }
  nav img {
    width: 3em; }
  nav ul li a {
    color: white;
    text-decoration: none;
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s; }
  nav a:hover, nav a:focus {
    background-size: 100% 2px; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Bebas Neue", cursive;
  color: black; }

p {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-style: italic; }

.bg-home {
  background-image: url(../images/rumble10.jpg);
  backround-repeat: no-repeat;
  background-size: cover; }

.bg-art {
  background-color: rgba(110, 73, 63, 0.85); }

#galeria {
  background-color: #BA9E4E; }

#galeria img {
  width: 90%; }

#galeria img:hover {
  transform: scale(1.1, 1.1); }

.tab-cont {
  background-color: #BA9E4E;
  padding-top: 6em;
  padding-bottom: 6em; }

.titulos-tab {
  font-weight: bold; }

table {
  margin: auto;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  border: solid;
  border-color: black;
  border-radius: 5px; }
  table td {
    text-align: center;
    padding: 1em; }
  table ul {
    padding: 1em;
    margin: 1em; }
  table li {
    list-style-type: none; }

.pagCont {
  background-color: #6E493F; }

.form-cont {
  border-radius: 10px;
  background-color: #BA8373;
  font-family: "Bebas Neue", cursive; }

input {
  background-color: white;
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #6E493F;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 15px; }

textarea {
  background-color: white;
  width: 90%;
  height: 80px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #6E493F;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block; }

.butForm {
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #6E493F;
  border-color: #6E493F;
  border-style: solid;
  border-radius: 10px;
  width: 30%;
  cursor: pointer; }

.avisoForm {
  font-size: 0.8rem; }

.contForm {
  background-color: #BA8373;
  border-radius: 10px;
  height: 80vh; }

.bgNos {
  background-color: rgba(73, 62, 31, 0.7);
  font-size: 1em;
  height: 10vh;
  color: white; }

footer {
  background-color: #39606E; }
  footer img {
    width: 40px; }
