@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

$fontPrim: 'Bebas Neue', cursive;
$fontSec: 'Montserrat', sans-serif;

$fontSmall: 0.8em;
$fontMed: 1em;
$fonLarge: 1.5em;